@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #A7ACD9;
    background-image: linear-gradient(315deg, #B91372 0%, #9E8FB2 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.quiz-container {
    background-color: #fff;
    width: 500px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 30px 1px rgba(11,0,0.1);
    overflow: hidden;
}

.quiz-header {
    padding: 3rem;
}

h2 {
    font-size: 2rem;

    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.3rem;
    margin:  1rem 0;
}

ul li label {
    cursor: pointer;
}

button {
    background-color: #9b59b6;
    display: block;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    width: 100%;
    padding: 1rem;
    font-family: inherit;
}

button:hover {
    background-color: #7a3496;
    color: rgb(255, 255, 255);
}